<!--Consultorias-->
<section id="consultorias" class="banner">
  <div class="container">
    <div class="row">
      <div class="col d-flex flex-column align-items-center justify-content-center">
        <h2 class="text-center">Consultoría en Soluciones Tecnológicas</h2>
        <p>
          Ofrecemos servicios de consultoría enfocados en el análisis, diseño y optimización de soluciones tecnológicas en redes, seguridad e informática.
        </p>
      </div>
      <div class="col d-flex justify-content-center">
        <img src="assets\services\baner-servicios01.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="section-services-2">
  <div class="section-container">
    <div class="carta-container">
      <div class="img-box">
        <img src="assets\services\diseño-instalacion.png" alt="">
      </div>
      <div class="content-box">
        <div class="content-card">
          <h2>Diseño de Instalaciones</h2>
          <p>
            Creamos planes de instalación personalizados para redes y sistemas de seguridad, asegurando una infraestructura eficiente, adaptada a las necesidades operativas de tu empresa y con alta calidad en implementación.
          </p>
        </div>
      </div>
    </div>
    <div class="carta-container">
      <div class="img-box">
        <img src="assets\services\consultoría-seguridad.png" alt="">
      </div>
      <div class="content-box">
        <div class="content-card">
          <h2>Consultoría en Seguridad Informática</h2>
          <p>
            Proporcionamos asesoría especializada en ciberseguridad, evaluando vulnerabilidades y aplicando soluciones avanzadas para proteger los datos críticos y activos tecnológicos de tu empresa.
          </p>
        </div>
      </div>
    </div>
    <div class="carta-container">
      <div class="img-box">
        <img src="assets\services\evaluacion.png" alt="">
      </div>
      <div class="content-box">
        <div class="content-card">
          <h2>Evaluación de Infraestructura Tecnológica</h2>
          <p>
            Realizamos un análisis detallado de tu infraestructura tecnológica para identificar mejoras potenciales, optimizar su rendimiento y garantizar una operatividad adecuada en todos los sistemas clave de tu organización.
          </p>
        </div>
      </div>
    </div>
    <div class="carta-container">
      <div class="img-box">
        <img src="assets\services\asesoria.png" alt="">
      </div>
      <div class="content-box">
        <div class="content-card">
          <h2>Asesoría en Nuevas Tecnologías</h2>
          <p>
            Ayudamos en la selección e implementación de tecnologías innovadoras, asegurando que se integren sin problemas en tus operaciones y generen un impacto positivo en la productividad.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Instalaciones-->
<section id="instalaciones" class="banner">
  <div class="container">
    <div class="row">
      <div class="col d-flex flex-column align-items-center justify-content-center">
        <h2 class="text-center">Instalaciones Profesionales y Seguras</h2>
        <p>
          Nos especializamos en la instalación de soluciones tecnológicas asegurando que cumpla con los más altos estándares de calidad, garantizando un rendimiento óptimo y duradero.
        </p>
      </div>
      <div class="col d-flex justify-content-center">
        <img src="assets\services\baner-servicios02.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="section-services-2">
  <div class="section-container">
    <div class="carta-container">
      <div class="img-box">
        <img src="assets\services\cableado-estructurado.png" alt="">
      </div>
      <div class="content-box">
        <div class="content-card">
          <h2>Cableado Estructurado</h2>
          <p>
            Realizamos instalaciones de cableado estructurado con atención a cada detalle, diseñando una infraestructura organizada, eficiente y preparada para soportar sistemas de datos, voz y video en toda la empresa. Garantizamos que el cableado sea adecuado para el crecimiento futuro y la integración de nuevas tecnologías, asegurando conexiones seguras y de alta velocidad.
          </p>
        </div>
      </div>
    </div>
    <div class="carta-container">
      <div class="img-box">
        <img src="assets\services\instalacion-equipos.png" alt="">
      </div>
      <div class="content-box">
        <div class="content-card">
          <h2>Instalación de Equipos de Redes</h2>
          <p>
            Instalamos y configuramos equipos de red como routers, switches y puntos de acceso, optimizando la conectividad y el rendimiento de tu infraestructura. Nuestro enfoque asegura redes seguras, escalables y fiables para mantener la continuidad operativa, mejorando la comunicación y el flujo de datos dentro de la organización, independientemente de la cantidad de dispositivos conectados.
          </p>
        </div>
      </div>
    </div>
    <div class="carta-container">
      <div class="img-box">
        <img src="assets\services\instalacion-camara.png" alt="">
      </div>
      <div class="content-box">
        <div class="content-card">
          <h2>Cámaras de Seguridad</h2>
          <p>
            Implementamos sistemas de videovigilancia avanzada que incluyen cámaras de alta definición y monitoreo remoto en tiempo real, proporcionando una capa de seguridad adicional a tus instalaciones. Nuestras soluciones de cámaras de seguridad están diseñadas para adaptarse a diversos entornos, permitiéndote monitorear, grabar y gestionar la seguridad de tus espacios de manera eficiente y accesible.
          </p>
        </div>
      </div>
    </div>
    <div class="carta-container">
      <div class="img-box">
        <img src="assets\services\instalacion-alarma.png" alt="">
      </div>
      <div class="content-box">
        <div class="content-card">
          <h2>Alarmas de Intrusión</h2>
          <p>
            Instalamos sistemas de alarmas de intrusión que detectan cualquier intento de acceso no autorizado, enviando alertas en tiempo real para una respuesta rápida. Nuestras alarmas están diseñadas para proteger tanto el perímetro como el interior de tus instalaciones, ofreciendo una solución completa de seguridad que disuade intrusiones y brinda tranquilidad a tu empresa.
          </p>
        </div>
      </div>
    </div>
    <div class="carta-container">
      <div class="img-box">
        <img src="assets\services\instalacion-incendios.png" alt="">
      </div>
      <div class="content-box">
        <div class="content-card">
          <h2>Detección de Incendio</h2>
          <p>
            Desarrollamos e instalamos sistemas de detección y alarma de incendios que responden de manera eficiente a amenazas de fuego. Nuestros sistemas antiincendio cumplen con los más altos estándares de seguridad, proporcionando detección temprana y alertas rápidas para minimizar riesgos y proteger tanto a las personas como a los bienes de tu empresa.
          </p>
        </div>
      </div>
    </div>
    <div class="carta-container">
      <div class="img-box">
        <img src="assets\services\instalacion-megafonia.png" alt="">
      </div>
      <div class="content-box">
        <div class="content-card">
          <h2>Sistemas de Megafonía</h2>
          <p>
            Instalamos sistemas de megafonía profesional que permiten una comunicación clara y eficiente en áreas amplias o de alta concurrencia. Estos sistemas están diseñados para transmitir mensajes de manera precisa y uniforme, ya sea para anuncios, llamados de personal o comunicaciones de emergencia, mejorando la coordinación en el entorno empresarial.
          </p>
        </div>
      </div>
    </div>
    <div class="carta-container">
      <div class="img-box">
        <img src="assets\services\instalacion-telefonia.png" alt="">
      </div>
      <div class="content-box">
        <div class="content-card">
          <h2>Telefonía IP</h2>
          <p>
            Implementamos sistemas de telefonía IP que integran la comunicación por voz a través de internet, permitiendo llamadas de alta calidad y reducción de costos operativos. Nuestros sistemas están diseñados para adaptarse a las necesidades de la empresa, ofreciendo flexibilidad, escalabilidad y funciones avanzadas que optimizan la comunicación interna y externa.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Soporte Tecnico-->
<section id="soporte-tecnico" class="banner">
  <div class="container">
    <div class="row">
      <div class="col d-flex flex-column align-items-center justify-content-center">
        <h2 class="text-center">Soporte Técnico Especializado</h2>
        <p>
          Ofrecemos soporte técnico confiable para asegurar el funcionamiento óptimo de tus sistemas. Resolvemos cualquier inconveniente de manera rápida y eficiente, garantizando la continuidad de tus operaciones.
        </p>
      </div>
      <div class="col d-flex justify-content-center">
        <img src="assets\services\baner-servicios03.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="section-services-2">
  <div class="section-container">
    <div class="carta-container">
      <div class="img-box">
        <img src="assets\services\soporte-redes.png" alt="">
      </div>
      <div class="content-box">
        <div class="content-card">
          <h2>Soporte Técnico en Redes</h2>
          <p>
            Ofrecemos soporte técnico completo para redes empresariales, solucionando problemas de conectividad, configuración y rendimiento. Nuestro equipo especializado asegura que tu infraestructura de red funcione de manera óptima, resolviendo incidencias rápidamente y minimizando el tiempo de inactividad para mantener la productividad de tu empresa.
          </p>
        </div>
      </div>
    </div>
    <div class="carta-container">
      <div class="img-box">
        <img src="assets\services\certificacion-redes.png" alt="">
      </div>
      <div class="content-box">
        <div class="content-card">
          <h2>Certificación de Redes</h2>
          <p>
            Realizamos certificaciones de redes para asegurar que cumplan con los más altos estándares de calidad y eficiencia. Mediante pruebas exhaustivas, validamos que tu red esté correctamente instalada y preparada para soportar la carga de trabajo, brindándote la confianza de contar con una infraestructura segura y confiable.
          </p>
        </div>
      </div>
    </div>
    <div class="carta-container">
      <div class="img-box">
        <img src="assets\services\mantenimiento-pc.png" alt="">
      </div>
      <div class="content-box">
        <div class="content-card">
          <h2>Mantenimiento de Computadoras</h2>
          <p>
            Brindamos mantenimiento preventivo y correctivo para equipos de cómputo, mejorando su desempeño y prolongando su vida útil. Nuestros técnicos están capacitados para identificar y resolver problemas de hardware y software, asegurando que cada equipo funcione de manera óptima y sin interrupciones.
          </p>
        </div>
      </div>
    </div>
    <div class="carta-container">
      <div class="img-box">
        <img src="assets\services\soporte-alarmas.png" alt="">
      </div>
      <div class="content-box">
        <div class="content-card">
          <h2>Soporte Técnico en Sistemas de Seguridad y Comunicación</h2>
          <p>
            Ofrecemos soporte especializado para sistemas de videovigilancia, alarmas de intrusión y megafonía, asegurando su funcionamiento óptimo en todo momento. Nuestro equipo se encarga de diagnosticar, ajustar y mantener estos sistemas para garantizar la seguridad y una comunicación clara en tus instalaciones. Realizamos pruebas periódicas y ajustes necesarios para que cada sistema opere de manera eficiente y cumpla con los estándares de calidad y seguridad.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-button-up></app-button-up>
<app-footer></app-footer>
