<footer class="bg-dark text-white pt-5 pb-4">
  <div class="container text-center text-md-left">
    <div class="row text-center-text-md-left">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto">
        <div class="img-box">
          <img src="assets\logo\logo-blanco.png" alt="">
        </div>
        <p>Somos una empresa dedicada a la provisión e instalación de soluciones tecnológicas de comunicación, seguridad e informática.</p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">SERVICIOS</h5>
        <p>
          <a routerLink="/servicios" class="text-white" style="text-decoration: none;">Consultorias</a>
        </p>
        <p>
          <a routerLink="/servicios" fragment="instalaciones" class="text-white" style="text-decoration: none;">Instalaciones</a>
        </p>
        <p>
          <a routerLink="/servicios" fragment="soporte-tecnico" class="text-white" style="text-decoration: none;">Soporte Tecnico</a>
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">PRODUCTOS</h5>
        <p>
          <a routerLink="/productos" class="text-white" style="text-decoration: none;">Redes</a>
        </p>
        <p>
          <a routerLink="/productos" fragment="section2" class="text-white" style="text-decoration: none;">Seguridad</a>
        </p>
        <p>
          <a routerLink="/productos" fragment="section3" class="text-white" style="text-decoration: none;">Megafonia</a>
        </p>
        <p>
          <a routerLink="/productos" fragment="section4" class="text-white" style="text-decoration: none;">Deteccion de Incendio</a>
        </p>
        <p>
          <a routerLink="/productos" fragment="section5" class="text-white" style="text-decoration: none;">Alarmas</a>
        </p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contacto</h5>
        <p>
          <i class="bi bi-house mr-3"></i>  Calle Coronel Saturnino Leon #123
        </p>
        <p>
          <i class="bi bi-envelope mr-3"></i>  xmiranda&#64;gmail.com
        </p>
        <p>
          <i class="bi bi-phone mr-3"></i>  +591 75121888
        </p>
        <p>
          <i class="bi bi-telephone mr-3"></i>  +591 466 38058
        </p>
      </div>
    </div>

    <hr class="mb-4">
    <div class="row alig-items center">
      <div class="col-md-7 col-lg-8">
        <p>Derechos Reservados &#x2117;2024 por:
          <a style="text-decoration: none;">
            <strong class="text-warning">DNS</strong>
          </a>
        </p>
      </div>
      <div class="col-md-5 col-lg-4">
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/DNS.Bo" class="btn floating btn-sm text-white" style="font-size: 23px;">
                <i class="bi bi-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/dnstarija/" class="btn floating btn-sm text-white" style="font-size: 23px;">
                <i class="bi bi-instagram"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn floating btn-sm text-white" style="font-size: 23px;">
                <i class="bi bi-whatsapp"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn floating btn-sm text-white" style="font-size: 23px;">
                <i class="bi bi-telegram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
