* {
  box-sizing: border-box;
}

.contenido {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 8%;
}

.contenido .fila {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
}

.fila .colu-izq {
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
  min-width: 320px;
  margin-right: 60px;
}

.fila .colu-dere {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
}

.colu-izq .titulo-contacto h2 {
  position: relative;
  font-size: 58px;
  color: #74B4B4;
  display: inline-block;
  margin-bottom: 25px;
}

.colu-izq .titulo-contacto h2::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: #363636;
  top: 120%;
  left: 0;
}

.colu-izq .titulo-contacto h2::after {
  content: '';
  position: absolute;
  width: 25%;
  height: 3px;
  background-color: #74B4B4;
  top: calc(120% - 1px);
  left: 0;
}

.colu-izq .titulo-contacto p {
  font-size: 17px;
  color: #4c4c4c;
  letter-spacing: 1px;
  line-height: 1.2;
  padding-bottom: 22px;
}

.colu-izq .contactInfo {
  margin-bottom: 16px;
}

.contactInfo .iconGroup {
  display: flex;
  align-items: center;
  margin: 25px 0px;
}

.iconGroup .icono {
  width: 45px;
  height: 45px;
  border: 2px solid #74B4B4;
  border-radius: 50%;
  margin-right: 20px;
  position: relative;
}

.iconGroup .icono i {
  font-size: 20px;
  color: #74B4B4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iconGroup .detalles span {
  display: block;
  color: #74B4B4;
  font-size: 18px;
}

.iconGroup .detalles span:nth-child(1) {
  text-transform: uppercase;
  color: #4c4c4c;
}

.colu-izq .redesSociales {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 22px 0px 20px;
}

.redesSociales a {
  width: 50px;
  height: 50px;
  text-decoration: none;
  text-align: center;
  margin-right: 15px;
  border-radius: 5px;
  background-color: #74B4B4;
  transition: 0.3s;
}

.redesSociales a i {
  color: #fff;
  font-size: 30px;
  line-height: 50px;
  border: 2px solid transparent;
  transition-delay: 0.2s;
}

.redesSociales a:hover {
  transform: translateY(-5px);
  background-color: #fff;
  color: #74B4B4;
  border: 2px solid #74B4B4;
}

.redesSociales a:hover i {
  color: #74B4B4;
}

.colu-dere {
  display: flex;
  justify-content: center;
  align-items: center;
}

.colu-dere .map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 3px solid #74B4B4;
}

.map-container iframe {
  border-radius: 15px;
}

.colu-dere .map-container {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
}

.colu-dere .map-container:hover {
  transform: scale(1.1);
}

@media (max-width: 1100px) {
  .contenido .fila{
    flex-wrap: wrap;
  }

  .fila .colu-dere, .fila .colu-izq {
    flex-basis: 100%;
    margin: 0px;
  }

  .colu-izq .titulo-contacto h2 {
    font-size: 48px;
    font-weight: 800;
  }
}
