<div class="contenido">
  <div class="fila">
    <!--Columna Links-->
    <div class="colu-izq">
      <div class="titulo-contacto">
        <h2>Contactanos</h2>
        <p>Puedes ponerte en contacto con nosotros a través de diferentes medios, ya sea por teléfono, correo electrónico o WhatsApp. Nuestro equipo estará encantado de responder a tus consultas y brindarte la mejor solución.</p>
      </div>
      <!--Informacion de contacto-->
      <div class="contactInfo">
        <div class="iconGroup">
          <div class="icono">
            <i class="bi bi-telephone"></i>
          </div>
          <div class="detalles">
            <span>Telefono</span>
            <span>+591 75121888</span>
          </div>
        </div>

        <div class="iconGroup">
          <div class="icono">
            <i class="bi bi-envelope"></i>
          </div>
          <div class="detalles">
            <span>Email</span>
            <span>xmiranda&#64;gmail.com</span>
          </div>
        </div>

        <div class="iconGroup">
          <div class="icono">
            <i class="bi bi-geo-alt"></i>
          </div>
          <div class="detalles">
            <span>Direccion</span>
            <span>Calle Coronel Saturnino Leon #123</span>
          </div>
        </div>
      </div>

      <!--Informacion de redes sociales-->
      <div class="redesSociales">
        <a href="https://www.facebook.com/DNS.Bo"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/dnstarija/"><i class="bi bi-instagram"></i></a>
        <a href="https://w.app/AItW2s"><i class="bi bi-whatsapp"></i></a>
        <a href="#"><i class="bi bi-telegram"></i></a>
      </div>
    </div>

    <!--Columna Mapa-->
    <div class="colu-dere">
      <!--Contenedor de Mapa-->
      <div class="map-container embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d570.832046095514!2d-64.71003814793545!3d-21.534559152339227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x940647b419e5ecbf%3A0x90cd65b9242e50ec!2sDNS%20Tarija!5e1!3m2!1ses-419!2sbo!4v1729055938266!5m2!1ses-419!2sbo" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>
