<section class="contenedor-a" idid="soluciones-redes">
  <div class="redes-container">
    <div class="fila">
      <div class="img-container">
        <img src="assets\img\solucion-redes.png" alt="">
      </div>

      <div class="content">
        <div class="wrapper class-a">
          <div class="swipe swipe--delay">
            <h3>Soluciones</h3>
          </div>
          <div class="swipe">
            <h1>Redes</h1>
          </div>
        </div>
        <p>
          Ofrecemos un servicio integral en redes empresariales, desde el diseño y la instalación de infraestructura de cableado hasta la configuración de redes LAN y WAN. Nos aseguramos de que cada red esté optimizada para un rendimiento confiable y eficiente.
        </p>
        <p>
          Trabajamos exclusivamente con marcas líderes en el mercado, garantizando productos de alta calidad que cumplen con los estándares más exigentes de la industria, asegurando conexiones seguras y escalables para tu negocio.
        </p>
      </div>
    </div>
    <div class="logos-container">
      <img src="assets\logos\ubiquiti.png" alt="" class="img-logo">
      <img src="assets\logos\mikrotik.png" alt="" class="img-logo">
      <img src="assets\logos\cisco.png" alt="" class="img-logo">
      <img src="assets\logos\ubiquiti.png" alt="" class="img-logo">
      <img src="assets\logos\tplink.png" alt="" class="img-logo">
      <img src="assets\logos\grandstream.png" alt="" class="img-logo">
      <img src="assets\logos\dimax.png" alt="" class="img-logo">
      <img src="assets\logos\kuwes.png" alt="" class="img-logo">
      <img src="assets\logos\yealink.png" alt="" class="img-logo">
      <img src="assets\logos\corning.png" alt="" class="img-logo">
    </div>
  </div>
</section>

<!--Megafonia-->
<section class="contenedor-b" id="soluciones-megafonia">
  <div class="redes-container">
    <div class="fila">
      <div class="content">
        <div class="wrapper">
          <div class="swipe swipe--delay">
            <h3>Soluciones</h3>
          </div>
          <div class="swipe">
            <h1>Megafonia</h1>
          </div>
        </div>
        <p>
          Ofrecemos soluciones especializadas en sistemas de megafonía y llamado de personal, ideales para mejorar la comunicación interna en empresas, fábricas y otros entornos organizacionales. Nos encargamos de la instalación y configuración, garantizando un sistema de audio claro y fiable.
        </p>
        <p>
          Utilizamos equipos de marcas reconocidas por su calidad y durabilidad, asegurando un rendimiento óptimo y una comunicación eficiente.
        </p>
      </div>

      <div class="img-container">
        <img src="assets\img\solucion-megafonia.png" alt="">
      </div>
    </div>
    <div class="logos-container">
      <img src="assets\logos\itc.png" alt="" class="img-logo">
      <img src="assets\logos\dsppa.png" alt="" class="img-logo">
      <img src="assets\logos\dimax.png" alt="" class="img-logo">
      <img src="assets\logos\jbl.png" alt="" class="img-logo">
    </div>
  </div>
</section>

<!--Incendio-->
<section class="contenedor-b" id="soluciones-incendio">
  <div class="redes-container">
    <div class="fila">
      <div class="img-container">
        <img src="assets\img\solucion-incendio.png" alt="">
      </div>

      <div class="content">
        <div class="wrapper class-a">
          <div class="swipe swipe--delay">
            <h3>Soluciones</h3>
          </div>
          <div class="swipe">
            <h1>Incendio</h1>
          </div>
        </div>
        <p>
          Instalamos y configuramos sistemas de alarmas contra incendio diseñados para proteger tus instalaciones y asegurar la seguridad de tu personal. Trabajamos con equipos de las mejores marcas, garantizando una detección temprana y una respuesta rápida ante cualquier emergencia.
        </p>
        <p>
          Nuestras soluciones cumplen con los más altos estándares de seguridad, brindando tranquilidad y confianza en todo momento.
        </p>
      </div>
    </div>
    <div class="logos-container">
      <img src="assets\logos\cofem.png" alt="" class="img-logo">
      <img src="assets\logos\honeywell.png" alt="" class="img-logo">
    </div>
  </div>
</section>

<!--Alarmas-->
<section class="contenedor-b" id="soluciones-alarmas">
  <div class="redes-container">
    <div class="fila">
      <div class="content">
        <div class="wrapper">
          <div class="swipe swipe--delay">
            <h3>Soluciones</h3>
          </div>
          <div class="swipe">
            <h1>Alarmas</h1>
          </div>
        </div>
        <p>
          Ofrecemos sistemas avanzados de alarmas de intrusión diseñados para proteger tu hogar y negocio contra accesos no autorizados. Nuestras alarmas de seguridad están equipadas con tecnología de vanguardia y son fáciles de integrar en cualquier entorno.
        </p>
        <p>
          Trabajamos con marcas reconocidas que garantizan una protección confiable, asegurando la tranquilidad de saber que tus instalaciones están siempre seguras.
        </p>
      </div>

      <div class="img-container">
        <img src="assets\img\solucion-alarma.png" alt="">
      </div>
    </div>
    <div class="logos-container">
      <img src="assets\logos\paradox.png" alt="" class="img-logo">
      <img src="assets\logos\jfl.png" alt="" class="img-logo">
      <img src="assets\logos\dimax.png" alt="" class="img-logo">
    </div>
  </div>
</section>

<!--Videovigilancia-->
<section class="contenedor-b" id="soluciones-cctv">
  <div class="redes-container">
    <div class="fila">
      <div class="img-container">
        <img src="assets\img\solucion-videovigilancia.png" alt="">
      </div>

      <div class="content">
        <div class="wrapper class-a">
          <div class="swipe swipe--delay">
            <h3>Soluciones</h3>
          </div>
          <div class="swipe">
            <h1>Videovigilancia</h1>
          </div>
        </div>
        <p>
          Ofrecemos soluciones integrales en videovigilancia, diseñadas para proporcionar un monitoreo efectivo y continuo de tus instalaciones. Nuestros sistemas de cámaras de seguridad garantizan imágenes de alta calidad y visualización en tiempo real, lo que mejora la protección de tus activos.
        </p>
        <p>
          Trabajamos con marcas reconocidas en la industria, asegurando productos confiables y duraderos que te brindan la tranquilidad de saber que tus espacios están siempre vigilados.
        </p>
      </div>
    </div>
    <div class="logos-container">
      <img src="assets\logos\dahua.png" alt="" class="img-logo">
      <img src="assets\logos\dimax.png" alt="" class="img-logo">
      <img src="assets\logos\western-digital.png" alt="" class="img-logo">
    </div>
  </div>
</section>
<app-button-up></app-button-up>
<app-footer></app-footer>
