<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand me-auto" href="#">DNS</a>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">DNS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link mx-lg-2 active" aria-current="page" routerLink="" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" >PRINCIPAL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2 active" routerLink="/quienes-somos" routerLinkActive="link-active">QUIENES SOMOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2 active" routerLink="/servicios" routerLinkActive="link-active">SERVICIOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2 active" routerLink="/productos" routerLinkActive="link-active">PRODUCTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2 active" routerLink="/soluciones-marcas" routerLinkActive="link-active">SOLUCIONES Y MARCAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2 active" routerLink="/contacto" routerLinkActive="link-active">CONTACTO</a>
          </li>
        </ul>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
