<div class="contenedor">
  <section id="about">
    <div class="about-1">
      <h1>¿QUIENES SOMOS?</h1>
      <p>
        En DNS, nos dedicamos a la provisión e instalación de soluciones tecnológicas de comunicación, seguridad e informática, con el objetivo de potenciar la eficiencia y seguridad de las empresas. Contamos con un equipo de expertos comprometidos con brindar un servicio de alta calidad y adaptado a las necesidades específicas de cada cliente.
      </p>
      <p>
        En DNS, creemos que la tecnología es una herramienta fundamental para el crecimiento empresarial, y nos esforzamos por ser un aliado estratégico en este camino. Juntos, construimos un futuro más seguro y conectado para tu negocio.
      </p>
    </div>
    <div id="about-2">
      <div class="content-box-lg">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="about-item text-center">
                <i class="bi bi-pencil"></i>
                <h3>NOSOTROS</h3>
                <hr>
                <p>Somos expertos en transformar la conectividad y la seguridad de tu negocio. Con años de experiencia en redes, telecomunicaciones y sistemas de protección, brindamos soluciones innovadoras que impulsan el crecimiento y protegen lo que más importa.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="about-item text-center">
                <i class="bi bi-book"></i>
                <h3>MISION</h3>
                <hr>
                <p>Nuestra misión es proporcionar a las empresas herramientas tecnológicas de vanguardia en redes, telecomunicaciones y seguridad, asegurando conexiones eficientes y entornos empresariales seguros y confiables.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="about-item text-center">
                <i class="bi bi-globe"></i>
                <h3>VISION</h3>
                <hr>
                <p>Ser líderes en soluciones tecnológicas y de seguridad para empresas, destacándonos por nuestra innovación, calidad de servicio y compromiso con el bienestar y crecimiento de nuestros clientes.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-button-up></app-button-up>
<app-footer></app-footer>
